<div class="nav">
  <div class="col-xs-12 inner-nav">

    <div class="col-xs-4 text-right">
      <img src="http://img.ed4.net/marketing/zeta.png" />
    </div>
    <div class="col-xs-6">

    </div>

    <div class="col-xs-4 text-left">
        <div >
          <ul class="pull-right">
            <li>My Projects</li>
            <!-- <li>All Projects</li> -->
            <li>Logout</li>
          </ul>
        </div>
        <!-- <div class="dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a ng-href="#!/projects">Projects</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-href="#!/logout">Logout</a></li>
          </ul>
        </div> -->
    </div>

    <div id="loading-spinner-container"></div>
  </div>
</div>
