<h1>New Project view</h1>

<div class="col-xs-12 input-new">
  <div class="row">
    <div class="col-xs-12">
      <label>Task Name:</label><br />
      <input ng-model="taskName" type="text" placeholder="ex: CVS Grid Development">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>Cell Id's:</label><br />
      <input ng-model="cellid" type="text" placeholder="ex: V1: 123456, V2: 123456...">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>Content Id's:</label><br />
      <input ng-model="content" type="text" placeholder="ex: Footer: 123456, Header: 724654...">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>Given Assets:</label><br />
      <input ng-model="assets" type="text" placeholder="ex: \\fs1\creative_services">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>Creative Server:</label><br />
      <input ng-model="creative" type="text" placeholder="ex: \\fs1\creative_services">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>Image Server:</label><br />
      <input ng-model="imageServer" type="text" placeholder="ex: \\ed-smb1\graphics\fsimages">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>Jira Ticket:</label><br />
      <input ng-model="jira" type="text" placeholder="ex: https://pm.zetainteractive.com:8443/browse/CCAOPUS-24683">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>Notes/Callouts:</label><br />
      <textarea ng-model="notes" placeholder="ex: THe links in body section 2 in the ASF..."></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-warning" ng-click="addProject()">Add New Project</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-danger" ng-click="cancelProject()">Cancel</button>
    </div>
  </div>
</div>
