<div>
    <div class="col-xs-12">
      <div class="col-xs-6">
        <h2>All Current Users</h2>
      </div>
    </div>



      <div class="col-xs-12 panel" ng-repeat="user in users">

        <div class="col-xs-3"><h3>{{user.firstName}}</h3></div>
        <div class="col-xs-5"><h3>{{user.email}}</h3></div>
        <div class="col-xs-2 text-left"><a ng-href="/#!/manager/{{user.firstName}}/{{user.uid}}/projects"<button class="btn btn-warning">{{user.firstName}}'s Projects</button></a></div>



        <div class="task-info" ng-show="user.show">
          <row>
            <div class="col-xs-12 indvidual-task"><a target="_blank" href="">JIRA TICKET</a></div>
          </row>
        </div>
      </div>
</div>
