<nav class="navbar navbar-default navbar-style">
  <div class="container">
    <div class="navbar-header">
      <img src="http://img.ed4.net/marketing/zeta.png" />
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#">All Projects</a></li> -->
        <li class="white"><a href="/#!/projects">My Projects</a></li>
        <li class="white"><a ng-href="/#!/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
